<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="roleName" nzRequired [nzSm]="4" [nzXs]="24">角色名</nz-form-label>
    <nz-form-control nzErrorTip="请输入角色名" [nzSm]="18" [nzXs]="24">
      <input id="roleName" name="roleName" formControlName="roleName" nz-input placeholder="请输入角色名" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="roleDesc" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="roleDesc" name="roleDesc" formControlName="roleDesc" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
</form>
