<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card>
    <app-water-mark />
    <form class="form-wrap" nz-form [formGroup]="validateForm">
      <nz-form-item nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="24" [nzXs]="24" [nzXXl]="24">
        <nz-form-label nzFor="detail" nzRequired nzSpan="24">描述</nz-form-label>
        <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="18" [nzMd]="24" [nzSm]="24" [nzXl]="18" [nzXXl]="18">
          <!--自己去申请一个key啊-->
          <editor formControlName="detail" [apiKey]="'95b1w09g3ruzin5ylg5inr4afxzm3oxotroc0ofkh8pwcefz'" [init]="editInit"></editor>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
<ng-template #combineTpl let-control>
  @if (control.hasError('required')) {
    必填项
  }
</ng-template>
