<!--头部版块-->
<app-page-header [backTpl]="back" [backUrl]="backUrl" [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<ng-template #back>
  <span class="operate-text">返回</span>
</ng-template>
<div class="normal-table-wrap">
  <h1>输入框演示</h1>
  <input nz-input [(ngModel)]="name" />

  <nz-divider></nz-divider>

  <h1>表单演示</h1>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入用户名!">
        <input type="text" formControlName="userName" nz-input placeholder="用户名" />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
