<nz-list [nzItemLayout]="'vertical'">
  <nz-list-item nzNoFlex *ngFor="let item of 8 | numberLoop">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <a>Alipay</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        <nz-tag>Ant Design</nz-tag>
        <nz-tag>Ngôn ngữ thiết kế</nz-tag>
        <nz-tag>Kiến tài chính</nz-tag>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    Đoạn văn: ant.design, một nền tảng thiết kế tài chính của kiến, kết nối liền mạch với hệ sinh thái tài chính của kiến ​​với khối lượng công việc tối thiểu và cung cấp các giải pháp trải nghiệm bao trùm thiết kế và phát triển. Nền tảng thiết kế tài chính Ant
    ant.design kết nối liền mạch với hệ sinh thái Ant Financial với khối lượng công việc tối thiểu, cung cấp các giải pháp trải nghiệm xuyên suốt quá trình thiết kế và phát triển.
    <div class="m-t-15 info">
      <div nz-row>
        <nz-avatar class="m-r-8" [nzSize]="'small'" [nzSrc]="'assets/imgs/default_face.png'"></nz-avatar>
        <a class="operate-text">Phó Hiểu Hiểu</a>
        <span class="m-r-8">Đăng lên</span>
        <a class="m-r-8 operate-text">https://ant.design</a>
        <time nz-typography nzType="secondary">2021-02-19 14:21</time>
      </div>
    </div>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <i nz-icon nzType="star" class="m-r-8"></i>
        156
      </nz-list-item-action>
      <nz-list-item-action>
        <i nz-icon nzType="like" class="m-r-8"></i>
        156
      </nz-list-item-action>
      <nz-list-item-action>
        <i nz-icon nzType="message" class="m-r-8"></i>
        2
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>
