<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card nzTitle="Window Full Screen(不知道为什么vben非要写英文)">
    <nz-space>
      <button *nzSpaceItem (click)="intoFull()" nz-button nzType="primary">进入全屏</button>
      <button *nzSpaceItem (click)="toggle()" nz-button nzType="primary">切换全屏</button>
      <button *nzSpaceItem (click)="exitFull()" nz-button nzType="primary">退出全屏</button>
      <span *nzSpaceItem>当前全屏状态：{{!isFullscreenFlag}}</span>
    </nz-space>
  </nz-card>

  <nz-card class="m-t-15" nzTitle="Dom Full Screen">
    <button (click)="intoDomFull(dom)" nz-button nzType="primary">下面的dom全屏</button>
  </nz-card>

  <div #dom class="m-t-30 center"
       style="height: 600px;width: 600px;background: white;margin-left: auto;margin-right: auto">
    <button (click)="exitFull()" nz-button nzType="primary">下面的dom取消全屏</button>
  </div>
</div>
