<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card nzTitle="Window Full Screen(不知道为什么vben非要写英文)">
    <nz-space>
      <button *nzSpaceItem nz-button nzType="primary" (click)="intoFull()">进入全屏</button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="toggle()">切换全屏</button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="exitFull()">退出全屏</button>
    </nz-space>
    <div>
      当前全屏状态：
      <span class="sp-28 text-error">{{ !isFullscreenFlag }}</span>
    </div>
  </nz-card>

  <nz-card class="m-t-15" nzTitle="Dom Full Screen">
    <button nz-button nzType="primary" (click)="intoDomFull(dom)">下面一整块的dom全屏</button>
  </nz-card>

  <div #dom class="m-t-30 center" style="height: 600px; background: white; margin-left: auto; margin-right: auto">
    <div>
      <p class="text-center sp-28 text-error">我就是这个可能被全屏的dom</p>

      <button nz-button nzType="primary" (click)="exitFull()">我这个dom取消全屏</button>
    </div>
  </div>
</div>
