<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <app-card-table-wrap [actionCode]="actionCodeObj" [needAddBtn]="true" (add)="add()">
    <nz-table nzBordered #expandTable [nzData]="listOfMapData" nzTableLayout="fixed">
      <thead>
      <tr>
        <th>部门名称</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td
              [nzIndentSize]="item.level! * 20"
              [nzShowExpand]="!!item.children"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
            >
              {{ item.name }}
            </td>
            <td><ng-container *ngTemplateOutlet="operationTpl"></ng-container></td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </nz-table>

  </app-card-table-wrap>
</div>
<ng-template #operationTpl let-name="name" let-id="id">
  <span class="operate-text">编辑</span>
  <span class="operate-text">删除</span>
  <span class="operate-text">添加下级</span>
</ng-template>
