<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="roleId">密码</nz-form-label>
    <nz-form-control nzExtra="新建用户初始密码为：a123456" [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <input [type]="'password'" nz-input placeholder="密码" formControlName="password" />
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #combineTpl let-control>
  <ng-container *ngIf="control.hasError('message')">{{control.errors.message}}</ng-container>
  <ng-container *ngIf="control.hasError('required')">必填项</ng-container>
</ng-template>
