# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
ui/dist
ui/tmp
ui/out-tsc
ui/bazel-out
nest-api/dist
# Node
ui/node_modules
nest-api/node_modules
ui/npm-debug.log
ui/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
ui/.vscode/*
!ui/.vscode/settings.json
!ui/.vscode/tasks.json
!ui/.vscode/launch.json
!ui/.vscode/extensions.json
.history/*

# Miscellaneous
ui/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
