<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerContent>
  <div class="center">
    <div style="width: 455px">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="请输入" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #headerFooter>
  <nz-tabset>
    <nz-tab nzTitle="文章"></nz-tab>
    <nz-tab nzTitle="项目"></nz-tab>
    <nz-tab nzTitle="应用"></nz-tab>
  </nz-tabset>
</ng-template>
<router-outlet></router-outlet>
