<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="relative" [nzBodyStyle]="{ padding: 0 }">
    <div id="wrap" class="p-0 m-t-0" nz-result-content nz-row nzJustify="space-between">
      <div>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="置前" nzType="text">
          <i nz-icon nzTheme="outline" nzType="vertical-align-top"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="置后" nzType="text">
          <i nz-icon nzTheme="outline" nzType="vertical-align-bottom"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="开启框选" nzType="text">
          <i nz-icon nzTheme="outline" nzType="gateway"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="新建群组" nzType="text">
          <i nz-icon nzTheme="outline" nzType="group"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="解散群组" nzType="text">
          <i nz-icon nzTheme="outline" nzType="ungroup"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="保存" nzType="text">
          <i nz-icon nzTheme="outline" nzType="save"></i>
        </button>
      </div>
      <div>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="放大" nzType="text">
          <i nz-icon nzTheme="outline" nzType="plus-circle"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="缩小" nzType="text">
          <i nz-icon nzTheme="outline" nzType="minus-circle"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="缩放到1：1" nzType="text">
          <i nz-icon nzTheme="outline" nzType="one-to-one"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="缩放到适应屏幕" nzType="text">
          <i nz-icon nzTheme="outline" nzType="compress"></i>
        </button>
      </div>
    </div>
    <div class="flex">
      <div #container id="container" class="flex-1"></div>
    </div>

    <nz-card class="absolute node-sel-bar" [nzBodyStyle]="{ padding: 0 }">
      <div class="flex flex-coloum">
        <i nz-icon nz-tooltip nzTheme="outline" nzTooltipPlacement="right" nzTooltipTitle="正方形" nzType="border" shap="rect" (mousedown)="drag($event)"></i>
        <i nz-icon nz-tooltip nzTheme="outline" nzTooltipPlacement="right" nzTooltipTitle="圆形" nzType="user" shap="circle" (mousedown)="drag($event)"></i>
      </div>
    </nz-card>
  </nz-card>
</div>
