<ng-container *ngTemplateOutlet="headRight"></ng-container>
<ng-template #headRight>
  <div id="tools" class="bst-header-wrap">
    <!--      <span *appScreenLessHidden="'375'" (click)="lockScreen()" class="bst-header-icon" nz-tooltip nzTooltipTitle="锁屏"
            nzTooltipPlacement="bottom">
         <i nz-icon nzType="lock"
            nzTheme="outline"></i>
        </span>-->

    <span *appScreenLessHidden="'320'" class="bst-header-icon" nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="搜索" (click)="showSearchModal()">
      <i nz-icon nzTheme="outline" nzType="search"></i>
    </span>
    <!--注释的是一个弹出外连接的按钮-->
    <!-- <span *appScreenLessHidden="'375'" class="bst-header-icon" nz-tooltip nzTooltipTitle="OnChat的帮助文档"
           nzTooltipPlacement="bottom">
             <a href="https://docs.chat.hypergo.net/docs/intro/" target="_blank"><i nz-icon nzType="question-circle"
                                                                                    nzTheme="outline"></i></a>
           </span>-->
    <span
      *appScreenLessHidden="'393'"
      #toogleFullScreenDir="appToggleFullscreen"
      class="bst-header-icon"
      appToggleFullscreen
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="toogleFullScreenDir.isFullscreenFlag ? '全屏' : '退出全屏'"
    >
      @if (toogleFullScreenDir.isFullscreenFlag) {
        <i nz-icon nzTheme="outline" nzType="fullscreen"></i>
      } @else {
        <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i>
      }
    </span>

    <span class="bst-header-icon" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="noticeMenu">
      <nz-badge class="bst-badge" [nzCount]="11">
        <i nz-icon nzTheme="outline" nzType="bell"></i>
      </nz-badge>
    </span>
    <span class="bst-header-icon" nz-dropdown [nzDropdownMenu]="userSettingMenu">
      <img class="avatar" alt="" src="imgs/default_face.png" />
      <span class="base-font-size">Serati Ma</span>
    </span>
    <nz-dropdown-menu #userSettingMenu>
      <ul nz-menu>
        <li nz-menu-item (click)="goPage('personal-center')">
          <i class="m-r-8" nz-icon nzTheme="outline" nzType="user"></i>
          <span>个人中心</span>
        </li>
        <li nz-menu-item (click)="goPage('personal-setting')">
          <i class="m-r-8" nz-icon nzTheme="outline" nzType="setting"></i>
          <span>个人设置</span>
        </li>
        <li nz-menu-item (click)="changePassWorld()">
          <i class="m-r-8" nz-icon nzTheme="outline" nzType="lock"></i>
          <span>修改密码</span>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="clean()">
          <i class="m-r-8" nz-icon nzTheme="outline" nzType="clear"></i>
          <span>清除缓存</span>
        </li>
        <li nz-menu-item (click)="lockScreen()">
          <i class="m-r-8" nz-icon nzTheme="outline" nzType="lock"></i>
          <span>锁定屏幕</span>
        </li>
        <li nz-menu-item>
          <div (click)="goLogin()">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="logout"></i>
            <span>退出登录</span>
          </div>
        </li>
      </ul>
    </nz-dropdown-menu>

    <span class="bst-header-icon" nz-dropdown [nzDropdownMenu]="language">
      <i nz-icon nzTheme="outline" nzType="font-size"></i>
    </span>
    <nz-dropdown-menu #language="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="showMessage()">English</li>
        <li nz-menu-item (click)="showMessage()">Bahasa Indonesia</li>
        <li nz-menu-item (click)="showMessage()">日本語</li>
        <li nz-menu-item (click)="showMessage()">Português</li>
        <li nz-menu-item nzSelected (click)="showMessage()">简体中文</li>
        <li nz-menu-item (click)="showMessage()">繁體中文</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <nz-dropdown-menu #noticeMenu="nzDropdownMenu">
    <app-home-notice></app-home-notice>
  </nz-dropdown-menu>
</ng-template>
