<!--如果只有side模式时，可以考虑使用zorro的menu递归-->
<!--https://github.com/NG-ZORRO/ng-zorro-antd/issues/6306-->
@if (!isMixinHead) {
  <ul
    nz-menu
    [nzInlineCollapsed]="isCollapsed$ | async"
    [nzMode]="(themesOptions$ | async)!.mode === 'side' || (themesOptions$ | async)!.mode === 'mixin' || (isOverMode$ | async) ? 'inline' : 'horizontal'"
    [nzNoAnimation]="(themesOptions$ | async)!.mode === 'top' && !isOverMode"
    [nzTheme]="isMixinMode && (isOverMode$ | async) === false && (isNightTheme$ | async) === false ? 'light' : isMixinMode && (isNightTheme$ | async) ? 'dark' : (themesOptions$ | async)!.theme"
  >
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: isMixinLeft ? leftMenuArray : menus }"></ng-container>
    <ng-template #menuTpl let-menus>
      @for (menu of menus; track menu.path) {
        <!--权限1-->
        <ng-container *appAuth="menu.code">
          <!--一级菜单-->
          @if (!menu.children || menu.children.length === 0) {
            <li nz-menu-item [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0" [nzSelected]="menu.selected">
              <a (click)="changeRoute($event, menu)">
                @if (menu.icon) {
                  <i nz-icon [nzType]="menu.icon"></i>
                } @else if (menu.alIcon) {
                  <i nz-icon [nzIconfont]="menu.alIcon"></i>
                }
                <span>{{ menu.menuName }}</span>
              </a>
            </li>
          }
          <!--二级菜单-->
          @if (menu.children && menu.children.length > 0) {
            <!--*appAuth="menu.code"-->
            <li nz-submenu [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0" [nzTitle]="menuTitleTpl" [(nzOpen)]="menu.open" (nzOpenChange)="changeOpen(menu, menus)">
              <ng-template #menuTitleTpl>
                @if (menu.icon) {
                  <i nz-icon [nzType]="menu.icon"></i>
                } @else if (menu.alIcon) {
                  <i nz-icon [nzIconfont]="menu.alIcon"></i>
                }
                <span>{{ menu.menuName }}</span>
              </ng-template>
              <ul>
                @for (menuSecond of menu.children; track menuSecond.path) {
                  <!--权限2-->
                  <ng-container *appAuth="menuSecond.code">
                    @if (!menuSecond.children || menuSecond.children.length === 0) {
                      <li nz-menu-item [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 32 : 0" [nzSelected]="menuSecond.selected">
                        <a (click)="changeRoute($event, menuSecond)">
                          @if (menuSecond.icon) {
                            <i nz-icon [nzType]="menuSecond.icon"></i>
                          } @else if (menuSecond.alIcon) {
                            <i nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                          }
                          <span>{{ menuSecond.menuName }}</span>
                        </a>
                      </li>
                    }
                    <!--三级菜单-->
                    @if (menuSecond.children && menuSecond.children.length > 0) {
                      <li
                        nz-submenu
                        [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 32 : 0"
                        [nzTitle]="menuSecondTitleTpl"
                        [(nzOpen)]="menuSecond.open"
                        (nzOpenChange)="changeOpen(menuSecond, menu.children)"
                      >
                        <ng-template #menuSecondTitleTpl>
                          @if (menuSecond.icon) {
                            <i nz-icon [nzType]="menuSecond.icon"></i>
                          } @else if (menuSecond.alIcon) {
                            <i nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                          }
                          <span>{{ menuSecond.menuName }}</span>
                        </ng-template>
                        <ul>
                          @for (menuThird of menuSecond.children; track menuThird.path) {
                            <ng-container *appAuth="menuThird.code">
                              @if (!menuThird.children || menuThird.children.length === 0) {
                                <li nz-menu-item [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 48 : 0" [nzSelected]="menuThird.selected">
                                  <a (click)="changeRoute($event, menuThird)">
                                    @if (menuThird.icon) {
                                      <i nz-icon [nzType]="menuThird.icon"></i>
                                    } @else if (menuThird.alIcon) {
                                      <i nz-icon [nzIconfont]="menuThird.alIcon"></i>
                                    }
                                    <span>{{ menuThird.menuName }}</span>
                                  </a>
                                </li>
                              }
                              <!--四级菜单-->
                              @if (menuThird.children && menuThird.children.length > 0) {
                                <li
                                  nz-submenu
                                  [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 48 : 0"
                                  [nzTitle]="fourthTitleTpl"
                                  [(nzOpen)]="menuThird.open"
                                  (nzOpenChange)="changeOpen(menuThird, menuSecond.children)"
                                >
                                  <ng-template #fourthTitleTpl>
                                    @if (menuThird.icon) {
                                      <i nz-icon [nzType]="menuSecond.icon"></i>
                                    } @else if (menuThird.alIcon) {
                                      <i nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                                    }
                                    <span>{{ menuThird.menuName }}</span>
                                  </ng-template>
                                  <ul>
                                    @for (forthThird of menuThird.children; track forthThird.path) {
                                      <ng-container *appAuth="forthThird.code">
                                        <li nz-menu-item [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 64 : 0" [nzSelected]="forthThird.selected">
                                          <a (click)="changeRoute($event, forthThird)">
                                            @if (forthThird.icon) {
                                              <i nz-icon [nzType]="forthThird.icon"></i>
                                            } @else if (forthThird.alIcon) {
                                              <i nz-icon [nzIconfont]="forthThird.alIcon"></i>
                                            }
                                            <span>{{ forthThird.menuName }}</span>
                                          </a>
                                        </li>
                                      </ng-container>
                                    }
                                  </ul>
                                </li>
                              }
                            </ng-container>
                          }
                        </ul>
                      </li>
                    }
                  </ng-container>
                  <!--权限2结束-->
                }
              </ul>
            </li>
          }
        </ng-container>
        <!--权限1结束-->
      }
    </ng-template>
  </ul>
} @else {
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    @for (menu of menus; track menu.path; let i = $index) {
      <!--权限1（不需要时删除此ng-container节点）-->
      <ng-container *appAuth="menu.code">
        @if (!menu.children || menu.children.length === 0) {
          <li nz-menu-item [nzSelected]="menu.selected">
            <a [routerLink]="[menu.path]">
              @if (menu.icon) {
                <i nz-icon [nzType]="menu.icon"></i>
              } @else if (menu.alIcon) {
                <i nz-icon [nzIconfont]="menu.alIcon"></i>
              }
              <span>{{ menu.menuName }}</span>
            </a>
          </li>
        }

        @if (menu.children && menu.children.length > 0) {
          <li nz-menu-item [nzSelected]="menu.selected" (click)="changTopNav(i)">
            @if (menu.icon) {
              <i nz-icon [nzType]="menu.icon"></i>
            } @else if (menu.alIcon) {
              <i nz-icon [nzIconfont]="menu.alIcon"></i>
            }
            <span>{{ menu.menuName }}</span>
          </li>
        }
      </ng-container>
      <!--权限1结束-->
    }
  </ul>
}
