<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card nzTitle="这里的两块滚动条是可以被缓存的">
    <div nz-row nzJustify="space-around">
      <div class="m-b-8" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div id="div-scroll1" class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div id="div-scroll2" class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>
    </div>
  </nz-card>

  <nz-card class="m-t-30" nzTitle="这里的滚动条都无法被缓存">
    <div nz-row nzJustify="space-around">
      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>

      <div class="m-t-30" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div class="div-scroll">
          <p>1. 山治，我要吃肉</p>
          <p>2. 娜美衣服的料子是越来越少了</p>
          <p>3. 人生最痛苦的是梦醒了无路可以走。做梦的人是幸福的；倘没有看出可走的路，最要紧的是不要去惊醒他。《娜拉走后怎样》一九二三年</p>
          <p>
            4.
            我们目下的当务之急，是：一要生存，二要温饱，三要发展。苟有阻碍这前途者，无论是古是今，是人是鬼，是《三填五典》，百宋千元，天球河图，金人玉佛，祖传丸散，秘制膏丹，全都踏倒他。《忽然想到》一九二五年
          </p>
          <p>5. 专制者反面就是奴才，有权时无所不为，失势时即奴性十足。《谚语》一九三三年</p>
          <p>6. 悲剧将人生的有价值的东西毁灭给人看，喜剧将那无价值的撕破给人看。《再论雷峰塔的倒掉》</p>
          <p>7. 其实地上本没有路，走的人多了，也便成了路。《故乡》</p>
        </div>
      </div>
    </div>
  </nz-card>
</div>
