<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>


<div class="normal-table-wrap">
  <nz-card>
    <form nz-form [formGroup]="validateForm">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzFor]="">规则名称</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入" formControlName="ruleName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzFor]="">描述</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入" formControlName="desc"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <ng-container *ngIf="!isCollapse">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="">服务调用次数</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入" formControlName="desc"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="">状态</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入" formControlName="desc"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="">上次调度时间</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="请输入" formControlName="ruleName"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-container>

        <div nz-col [nzSpan]="8" class="text-right">
          <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
          <button nz-button class="m-l-5" (click)="resetForm()"><i nz-icon nzType="close-circle" nzTheme="outline"></i>重置</button>
          <a class="collapse operate-text" (click)="toggleCollapse()">
            展开
            <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
          </a>
        </div>
      </div>
    </form>
  </nz-card>
</div>
