<!--非固定tab模式-->
@if (!(themesOptions$ | async)?.fixedTab) {
  <nz-card id="multi-tab" class="m-t-10" style="height: 35px" [nzBodyStyle]="{ padding: 0 }" [nzBordered]="false">
    <nz-tabset [nzHideAdd]="true" [nzSelectedIndex]="currentIndex" [nzTabBarStyle]="{ height: '35px' }" [nzTabPosition]="'top'" [nzType]="'editable-card'" (nzClose)="clickCloseIcon($event)">
      @for (tab of tabsSourceData$ | async; track trackByTab(i, tab); let i = $index) {
        <nz-tab nzClosable [nzTitle]="tab.title" (nzClick)="goPage(tab)" (nzContextmenu)="contextMenu($event, menu)">
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [nzDisabled]="router.url !== tab.path" (click)="refresh()">刷新</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === 0" (click)="closeTab(tab, $event, i)">关闭标签</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === 0" (click)="closeOtherTab(tab, $event, i)">关闭其他标签</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === i" (click)="closeRithTab(tab, $event, i)">关闭右侧标签</li>
              <li nz-menu-item [nzDisabled]="i === 0" (click)="closeLeftTab(tab, $event, i)">关闭左侧标签</li>
            </ul>
          </nz-dropdown-menu>
        </nz-tab>
      }
    </nz-tabset>
  </nz-card>
} @else {
  <nz-card
    id="multi-tab2"
    class="fixed-tab"
    [ngClass]="{
      'fixed-collapsed': (isCollapsed$ | async),
      'fixed-over-mode':
        (isOverMode$ | async) ||
        !(themesOptions$ | async)!.hasNavArea ||
        (themesOptions$ | async)?.mode === 'top' ||
        ((themesOptions$ | async)?.mode === 'mixin' && (leftMenuArray$ | async)!.length === 0 && (themesOptions$ | async)?.splitNav)
    }"
    [ngStyle]="{ top: (themesOptions$ | async)!.hasTopArea ? '48px' : '0', left: !(themesOptions$ | async)!.hasNavArea ? '0' : '' }"
    [nzBodyStyle]="{ padding: 0 }"
    [nzBordered]="true"
  >
    <nz-tabset [nzAnimated]="false" [nzSelectedIndex]="currentIndex" [nzTabPosition]="'top'">
      @for (tab of tabsSourceData$ | async; track trackByTab(i, tab); let i = $index) {
        <nz-tab nzClosable [nzTitle]="titleTemplate" (nzClick)="goPage(tab)" (nzContextmenu)="contextMenu($event, menu)">
          <ng-template #titleTemplate>
            <span class="text-center p-l-16 p-r-16 relative d-i-b" appMouseHoverShow style="min-width: 60px">
              {{ tab.title }}
              <i class="m-0 none" nz-icon [nzType]="'close'" (click)="clickCloseIcon({ index: i })"></i>
            </span>
          </ng-template>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [nzDisabled]="router.url !== tab.path" (click)="refresh()">刷新</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === 0" (click)="closeTab(tab, $event, i)">关闭标签</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === 0" (click)="closeOtherTab(tab, $event, i)">关闭其他标签</li>
              <li nz-menu-item [nzDisabled]="tabsSourceData.length - 1 === i" (click)="closeRithTab(tab, $event, i)">关闭右侧标签</li>
              <li nz-menu-item [nzDisabled]="i === 0" (click)="closeLeftTab(tab, $event, i)">关闭左侧标签</li>
            </ul>
          </nz-dropdown-menu>
        </nz-tab>
      }
    </nz-tabset>
  </nz-card>
}
<!--固定tab模式-->
