<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="roleName">角色名</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入角色名">
      <input nz-input formControlName="roleName" name="roleName" placeholder="请输入角色名" id="roleName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="roleDesc">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="roleDesc" name="roleDesc" placeholder="请输入描述" id="roleDesc" />
    </nz-form-control>
  </nz-form-item>
</form>
