<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="roleName">tên nhân vật</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên nhân vật">
      <input nz-input formControlName="roleName" name="roleName" placeholder="Vui lòng nhập tên nhân vật" id="roleName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="roleDesc">Mô tả</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="roleDesc" name="roleDesc" placeholder="Vui lòng nhập mô tả" id="roleDesc" />
    </nz-form-control>
  </nz-form-item>
</form>
