<app-page-header  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-image-group>
    <nz-space>
      <img *nzSpaceItem nz-image width="200px" nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
      <img *nzSpaceItem nz-image width="200px" nzSrc="https://img.alicdn.com/tfs/TB1Z0PywTtYBeNjy1XdXXXXyVXa-186-200.svg" alt="" />
    </nz-space>
  </nz-image-group>
  <br>
  <button (click)="onClick()" nz-button nzType="primary" class="m-t-8">无图预览</button>
</div>
