<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <app-card-table-wrap  [btnTpl]="tableBtns">
    <app-ant-table (selectedChange)="selectedChecked($event)" [checkedCashArrayFromComment]="checkedCashArray"
                   (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
                   [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>
    <ng-template #operationTpl let-name="name" let-id="id">
      <span *appAuth="ActionCode.RoleSetAuth" class="operate-text" (click)="setRole(id)">设置权限</span>
      <!--*appAuth="'0148'"-->
      <span *appAuth="ActionCode.RoleEdit" class="operate-text" (click)="edit(id)">编辑</span>
      <span *appAuth="ActionCode.RoleDel" class="operate-text" (click)="del(id)">删除</span>
    </ng-template>
  </app-card-table-wrap>
</div>
<ng-template #tableBtns>
  <button nz-button nzType="primary" (click)="add()" class="m-r-8"><i nz-icon nzType="plus"></i>新建</button>
  <button nz-button nzType="default" (click)="allDel()"><i nz-icon nzType="delete"></i>删除</button>
</ng-template>
