<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>


<div class="normal-table-wrap">
  <nz-card [nzBodyStyle]="{'padding-bottom':0}" class="m-b-10">
    <form nz-form>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" nzSm="24" nzXs="24">
          <nz-form-item>
            <nz-form-label nzFor="roleName">角色名称</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入" name="roleName" [(ngModel)]="searchParam.roleName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" nzSm="24" nzXs="24">
          <nz-form-item>
            <nz-form-label nzFor="roleDesc">备注</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="请输入" [(ngModel)]="searchParam.roleDesc" name="roleDesc"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" nzSm="24" nzXs="24" class="text-right p-0">
          <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
          <button nz-button class="m-l-15" (click)="resetForm()"><i nz-icon nzType="close-circle" nzTheme="outline"></i>重置
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <app-card-table-wrap [needAddBtn]="true" (add)="add(modalContent)">
    <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
                   [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>
    <ng-template #operationTpl let-name="name" let-id="id">
      <span class="operate-text" (click)="setRole(id)">设置权限</span>
      <span class="operate-text" (click)="edit(id)">编辑</span>
      <span class="operate-text" (click)="del(id)">删除</span>
    </ng-template>
  </app-card-table-wrap>
</div>

<ng-template #modalContent>
  <form nz-form [formGroup]="addEditForm">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="roleName">角色名</nz-form-label>
      <nz-form-control nzErrorTip="请输入角色名">
        <input nz-input formControlName="roleName" name="roleName" placeholder="请输入角色名" id="roleName"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="roleDesc">描述</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="roleDesc" name="roleDesc" placeholder="请输入备注" id="roleDesc"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
