<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>


<div class="normal-table-wrap">
  <app-card-table-wrap [needAddBtn]="true" (add)="add(modalContent)">
    <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
                   [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>
    <ng-template #operationTpl let-name="name" let-id="id">
      <span class="operate-text" (click)="setRole(id)">设置权限</span>
      <span class="operate-text" (click)="edit(id,modalContent)">编辑</span>
      <span class="operate-text" (click)="del(id)">删除</span>
    </ng-template>
  </app-card-table-wrap>
</div>

<ng-template #modalContent>
  <form nz-form [formGroup]="addEditForm">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="roleName">角色名</nz-form-label>
      <nz-form-control nzErrorTip="请输入角色名">
        <input nz-input formControlName="roleName" name="roleName" placeholder="请输入角色名" id="roleName"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="roleDesc">描述</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="roleDesc" name="roleDesc" placeholder="请输入备注" id="roleDesc"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
