<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-image-group>
    <nz-space>
      <img *nzSpaceItem alt="" nz-image nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" width="200px" />
      <img *nzSpaceItem alt="" nz-image nzSrc="https://img.alicdn.com/tfs/TB1Z0PywTtYBeNjy1XdXXXXyVXa-186-200.svg" width="200px" />
    </nz-space>
  </nz-image-group>
  <br />
  <button class="m-t-8" nz-button nzType="primary" (click)="onClick()">无图预览</button>
</div>
