<app-top-progress-bar></app-top-progress-bar>
<nz-layout>
  <nz-sider *ngIf="((themesOptions$|async)!.mode==='side')&&!(isOverMode$|async)&&(themesOptions$|async)!.hasNavArea" class="menu-sidebar"
            [nzTheme]="(themesOptions$|async)!.theme"
            nzBreakpoint="lg" [nzCollapsible]="true" [nzCollapsed]="isCollapsed$|async"
            (nzCollapsedChange)="changeCollapsed($event)" [nzTrigger]="trigger">
    <ng-content select="ng-container[sider]"></ng-content>
  </nz-sider>
  <nz-layout style="overflow-x:hidden" class="screen-full-height">
    <nz-header *ngIf="(themesOptions$|async)!.hasTopArea"
      [ngClass]="{'dark-top-nav-bg':themesOptions.mode==='top'&&themesOptions.theme==='dark'&&!(isNightTheme$|async),
      'animate':themesOptions.mode==='side',
               'fixed':themesOptions.fixedHead,'screen-full-width':themesOptions.mode==='top','fixed-collapsed':themesOptions.fixedHead&&themesOptions.mode==='side'&&(isCollapsed$|async),
               'fixed-over-mode':themesOptions.fixedHead&&themesOptions.mode==='side'&&(isOverMode$|async)}">
      <ng-content select="ng-container[header]"></ng-content>
    </nz-header>


    <nz-content [ngStyle]="{marginTop:themesOptions.fixedHead?'48px':0}"
                style="min-height: auto">
      <ng-content></ng-content>
    </nz-content>
    <nz-footer *ngIf="themesOptions.hasFooterArea">Ant Design ©2020 Implement By Angular</nz-footer>

    <app-setting-drawer></app-setting-drawer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <ul nz-menu [nzTheme]="(themesOptions$|async)!.theme" nzMode="inline" [nzSelectable]="false">
    <li nz-menu-item>
      <i class="trigger sp-18" nz-icon [nzType]="(isCollapsed$|async) ? 'menu-unfold' : 'menu-fold'"></i>
    </li>
  </ul>

</ng-template>
