<div id="drawer-handle" class="drawer-handle" cdkDrag cdkDragLockAxis="y" [class.open]="isCollapsed" (cdkDragEnded)="dragEnd()" (cdkDragStarted)="dragging = true" (click)="changeCollapsed()">
  <ng-container *ngIf="!isCollapsed; then settingIcon; else closeIcon"></ng-container>
  <ng-template #settingIcon>
    <i nz-icon nzTheme="outline" nzType="setting"></i>
  </ng-template>
  <ng-template #closeIcon>
    <i nz-icon nzTheme="outline" nzType="close"></i>
  </ng-template>
</div>
<nz-drawer [nzClosable]="false" [nzWidth]="300" [(nzVisible)]="isCollapsed" (nzOnClose)="isCollapsed = !isCollapsed">
  <ng-container *nzDrawerContent>
    <div *ngIf="_themesOptions.mode !== 'mixi'" class="m-b-24">
      <h3 class="title">整体风格设置</h3>
      <div class="block-checkbox">
        <div *ngFor="let theme of themes" class="item" nz-tooltip [nzTooltipTitle]="theme.title" (click)="changeTheme(theme)">
          <img [alt]="theme.title" [src]="theme.image" />
          <div *ngIf="theme.isChecked" class="select-icon">
            <i nz-icon nzTheme="outline" nzType="check"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="m-b-24 theme-color" [class.m-t-25]="_themesOptions.mode !== 'mixi'">
      <h3 class="title">主题色</h3>
      <div class="content">
        <div *ngFor="let color of colors" class="color-block" nz-tooltip [nzTooltipTitle]="color.title" [style.background]="color.color" (click)="changePrimaryColor(color)">
          <i *ngIf="color.isChecked" nz-icon nzTheme="outline" nzType="check"></i>
        </div>
      </div>
    </div>

    <nz-divider />

    <div class="m-b-24">
      <h3 class="title">导航模式</h3>
      <div class="block-checkbox">
        <div *ngFor="let mode of modes" class="item" nz-tooltip [nzTooltipTitle]="mode.title" (click)="changeMode(mode)">
          <img [alt]="mode.title" [src]="mode.image" />
          <div *ngIf="mode.isChecked" class="select-icon">
            <i nz-icon nzTheme="outline" nzType="check"></i>
          </div>
        </div>
      </div>
    </div>
    <nz-list [nzSplit]="false">
      <nz-list-item [nzActions]="[fixedTabAction]">固定页签</nz-list-item>
      <ng-template #fixedTabAction>
        <nz-switch nzSize="small" [ngModel]="_themesOptions.fixedTab" [nzDisabled]="!_themesOptions.fixedHead" (ngModelChange)="changeFixed($event, 'fixedTab')" />
      </ng-template>
    </nz-list>
    <nz-list [nzSplit]="false">
      <nz-list-item [nzActions]="[fixedHeadAction]">固定头部</nz-list-item>
      <ng-template #fixedHeadAction>
        <nz-switch nzSize="small" [ngModel]="_themesOptions.fixedHead" (ngModelChange)="changeFixed($event, 'fixedHead')" />
      </ng-template>
    </nz-list>

    <nz-list [nzSplit]="false">
      <nz-list-item [nzActions]="[fixedLeftNavAction]">固定侧边栏</nz-list-item>
      <ng-template #fixedLeftNavAction>
        <nz-switch nzSize="small" [ngModel]="_themesOptions.fixedLeftNav" (ngModelChange)="changeFixed($event, 'fixedLeftNav')" />
      </ng-template>
    </nz-list>

    <nz-list [nzSplit]="false">
      <nz-list-item [nzActions]="[isShowTabTpl]">多页签</nz-list-item>
      <ng-template #isShowTabTpl>
        <nz-switch nzSize="small" [ngModel]="_themesOptions.isShowTab" (ngModelChange)="changeFixed($event, 'isShowTab')" />
      </ng-template>
    </nz-list>

    <nz-list [nzSplit]="false">
      <nz-list-item [nzActions]="[splitNavAction]">自动分割菜单</nz-list-item>
      <ng-template #splitNavAction>
        <nz-switch nzSize="small" [ngModel]="_themesOptions.splitNav" (ngModelChange)="changeFixed($event, 'splitNav')" />
      </ng-template>
    </nz-list>

    <nz-divider />

    <div class="m-b-24">
      <h3 class="title">内容区域</h3>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[topAreaAction]">顶栏</nz-list-item>
        <ng-template #topAreaAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.hasTopArea" (ngModelChange)="changeFixed($event, 'hasTopArea')" />
        </ng-template>
      </nz-list>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[footerAreaAction]">页脚</nz-list-item>
        <ng-template #footerAreaAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.hasFooterArea" (ngModelChange)="changeFixed($event, 'hasFooterArea')" />
        </ng-template>
      </nz-list>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[navAreaAction]">菜单</nz-list-item>
        <ng-template #navAreaAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.hasNavArea" (ngModelChange)="changeFixed($event, 'hasNavArea')" />
        </ng-template>
      </nz-list>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[navHeadAreaAction]">菜单头</nz-list-item>
        <ng-template #navHeadAreaAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.hasNavHeadArea" (ngModelChange)="changeFixed($event, 'hasNavHeadArea')" />
        </ng-template>
      </nz-list>
    </div>

    <nz-divider />

    <div class="m-b-24">
      <h3 class="title">其他设置</h3>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[layoutAction]">暗黑模式</nz-list-item>
        <ng-template #layoutAction>
          <nz-switch nzSize="small" [ngModel]="_isNightTheme" (ngModelChange)="changeNightTheme($event)"></nz-switch>
        </ng-template>
      </nz-list>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[otherAction]">色弱模式</nz-list-item>
        <ng-template #otherAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.colorWeak" (ngModelChange)="changeSpecialTheme($event, 'color-weak')" />
        </ng-template>
      </nz-list>
      <nz-list [nzSplit]="false">
        <nz-list-item [nzActions]="[greyAction]">灰色模式</nz-list-item>
        <ng-template #greyAction>
          <nz-switch nzSize="small" [ngModel]="_themesOptions.greyTheme" (ngModelChange)="changeSpecialTheme($event, 'grey-theme')" />
        </ng-template>
      </nz-list>
    </div>
  </ng-container>
</nz-drawer>
