<nz-card [nzBordered]="false" [nzBodyStyle]="{ padding: '10px 24px' }">
  <div class="left-start-center">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Dashboard</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Trang phân tích</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</nz-card>

<section class="content-wrap">
  <section class="ant-row" nz-row [nzGutter]="[32, 16]">
    <div nz-col [nzXl]="6" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Thông kê doanh số trong năm</div>
            <div class="number">Lợi Nhuận: {{loinhuanMode*1000 | currency:'VND':''}}</div>
            <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số"></i>
          </div>
          <div class="card-mid">
            <div class="mid-text">
              <span>Chi phí: {{chiphiMode*1000 | currency:'VND':''}} <i nz-icon nzType="caret-down" style="color: green; font-size: 12px" nzTheme="outline"></i></span>
            </div>
            <div class="mid-text">
              <span>Doanh số: {{doanhthuMode*1000 | currency:'VND':''}}<i nz-icon nzType="caret-up" style="color: red; font-size: 12px" nzTheme="outline"></i></span>
            </div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Đánh giá chỉ số </div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Chuyến hàng đã hoàn thành trong năm</div>
            <div class="number">{{tongchuyenhangMode}}</div>
            <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số"></i>
          </div>
          <div class="card-mid">
            <div id="miniArea"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Đánh giá chỉ số </div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Khách hàng nợ hiện tại</div>
            <div class="number">{{tongnoallMode*1000 | currency: "VND" : ''}}</div>
            <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số
            "></i>
          </div>
          <div class="card-mid">
            <div id="miniBar"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer"> Đánh giá chỉ số </div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Hiệu quả hoạt động điều hành</div>
            <div class="number">78%</div>
            <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số"></i>
          </div>
          <div class="card-mid">
            <div id="progress"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer"> Đánh giá chỉ số </div>
        </nz-card>
      </div>
    </div>
  </section>

  <section class="flow-wrap m-t-20">
    <nz-card [nzBordered]="true" [nzBodyStyle]="{ padding: 0 }">
      <nz-tabset [nzTabBarStyle]="{ padding: '0 10px', fontSize: '16px' }" [nzAnimated]="false" [nzTabBarExtraContent]="extraTemplate">
        
        <nz-tab nzTitle="Biểu đồ">
          <div nz-row>
            <div nz-col [nzXl]="17" [nzLg]="12" [nzMd]="13" [nzSm]="24" [nzXs]="24">
              <h3 class="p-l-35">Xu hướng</h3>
              <div id="doanhthu"></div>
            </div>
            <ng-container *ngIf="ishowxuhuongdoanhthu">
              <div nz-col [nzXl]="7" [nzLg]="12" [nzMd]="11" [nzSm]="24" [nzXs]="24">
                <h3 class="p-l-35 m-b-20">Xu hướng doanh thu</h3>
                <div title=" đầu tiên {{ i }} kết thúc" class="rank-list" *ngFor="let item of listtopkh; let i = index">
                  <div class="center">
                    <nz-badge [nzStyle]="{ background: i < 4 ? '#314659' : '#fafafa', color: i < 4 ? '#fff' : 'black' }" [nzCount]="i + 1"></nz-badge>
                    <span class="m-l-5">Khách hàng: {{ item['name'] }} </span>
                  </div>
                  <div>{{item['tongdoanhthu']*1000 | currency : "VND"}}</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="ishowxuhuongchiphi">
              <div nz-col [nzXl]="7" [nzLg]="12" [nzMd]="11" [nzSm]="24" [nzXs]="24">
                <h3 class="p-l-35 m-b-20">Xu hướng chi phí</h3>
                <div title=" đầu tiên {{ i }} kết thúc" class="rank-list" *ngFor="let item of listtopchiphi; let i = index">
                  <div class="center">
                    <nz-badge [nzStyle]="{ background: i < 4 ? '#314659' : '#fafafa', color: i < 4 ? '#fff' : 'black' }" [nzCount]="i + 1"></nz-badge>
                    <span class="m-l-5">{{ item['_id'] }} </span>
                  </div>
                  <div>{{item['total']*1000 | currency : "VND"}}</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="ishowxuhuongloinhuan">
              <div nz-col [nzXl]="7" [nzLg]="12" [nzMd]="11" [nzSm]="24" [nzXs]="24">
                <h3 class="p-l-35 m-b-20">Xu hướng lợi nhuận</h3>
                <div title=" đầu tiên {{ i }} kết thúc" class="rank-list" *ngFor="let item of listtopkh; let i = index">
                  <div class="center">
                    <nz-badge [nzStyle]="{ background: i < 4 ? '#314659' : '#fafafa', color: i < 4 ? '#fff' : 'black' }" [nzCount]="i + 1"></nz-badge>
                    <span class="m-l-5">Khách hàng: {{ item['name'] }} </span>
                  </div>
                  <div>{{item['tongdoanhthu']*1000 | currency : "VND"}}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-card>

    <ng-template #extraTemplate>
      <nz-radio-group nzSize="default"  [(ngModel)]="radioBieudo" nzButtonStyle="solid" (ngModelChange)="changeBieudo($event)">
        <label nz-radio-button nzValue="1">Doanh Thu</label>
        <label nz-radio-button nzValue="2">Chi phí</label>
        <label nz-radio-button nzValue="3">Lợi Nhuận</label>
      </nz-radio-group>
      <nz-range-picker class="m-l-20" [nzDisabled]="true"></nz-range-picker>

    </ng-template>
  </section>

  <section class="hot-search-pipe-wrap m-t-20" nz-row [nzGutter]="[16, 0]">
    <div class="hot-search-wrap" nz-col nzSpan="12" [nzXl]="12" [nzXXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
      <nz-card [nzBodyStyle]="{ height: '500px' }" [nzExtra]="hotExtra" [nzTitle]="'Danh sách trạng thái xe tải'">
        <div class="search-wrap" nz-row>
          <div class="search-block" nz-col [nzXl]="12" [nzXXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
            <div>
              <div>
                <span nz-typography nzType="secondary">Xe hoạt động nhiều nhất <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số"></i></span>
              </div>
              <div
                ><h3 class="d-i-b m-r-30" nz-typography>12,321</h3><span>17.1 <i nz-icon nzType="caret-up" style="color: red; font-size: 12px" nzTheme="outline"></i></span
              ></div>
            </div>
            <div id="searchUserChart"></div>
          </div>
          <div class="search-block" nz-col [nzXl]="12" [nzXXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
            <div>
              <div>
                <span nz-typography nzType="secondary"> Xe doanh số cao nhất <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Mô tả chỉ số"></i> </span>
              </div>
              <div
                ><h3 class="d-i-b m-r-30" nz-typography>12,321</h3><span>17.1 <i nz-icon nzType="caret-up" style="color: red; font-size: 12px" nzTheme="outline"></i></span
              ></div>
            </div>
            <div id="searchUserAvgChart"></div>
          </div>
          <nz-table class="m-t-25" nzSize="small" #sortTable [nzData]="dataList" nzTableLayout="fixed">
            <thead>
              <tr>
                <th *ngFor="let column of listOfColumn">{{ column.title }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataList; let i = index">
                <td>{{ (i+1) }}</td>
                <td>
                  <nz-avatar nzIcon="car"></nz-avatar>
                </td>
                <td>{{ data.biensoxe }}</td>
                <td>{{ data.trongtai }}</td> 
                <td>
                  <span *ngIf="data.trangthai; else free">Hoạt động</span>
                  <ng-template #free>
                      <span>Free</span>
                  </ng-template>
                </td> 
                <td>{{ data.vitrihientai }}</td> 
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-card>
      <ng-template #hotExtra>
        <a>More</a>
      </ng-template>
    </div>
    <div class="pipe-wrap" nz-col nzSpan="12" [nzXl]="12" [nzXXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
      <nz-card [nzBodyStyle]="{ height: '500px' }" [nzTitle]="'Biêu đồ so sánh doanh thu của từng xe tải'">
        <h4>Hiểu quả hoạt động của từng xe tải</h4>
        <div id="ringPie"></div>
      </nz-card>
    </div>
  </section>
</section>
