<app-def-layout-content>

  <ng-container sider>
    <app-side-nav></app-side-nav>
  </ng-container>

  <ng-container header>
    <app-tool-bar>
      <ng-container left *ngIf="isOverMode||(themeOptions$|async)!.mode==='side'">
        <i class="trigger" nz-icon [nzType]="(isCollapsed$|async) ? 'menu-unfold' : 'menu-fold'"
           (click)="changeCollapsed()"></i>
      </ng-container>
      <ng-container left *ngIf="!isOverMode&&(themeOptions$|async)!.mode!=='side'">
        <div class="left-start-center flex-1" style="z-index: 999">
          <img style="max-height: 36px;max-width: 54px;" src="../../../assets/imgs/logo.svg" alt="">
          <span class="sp-18 m-r-8">Ant Design</span>
          <div class="flex-1">
            <app-nav-bar></app-nav-bar>
          </div>
        </div>
      </ng-container>

      <ng-container right>
        <div class="bst-header-wrap">
          <span class="bst-header-icon">
              <i nz-icon nzType="search" nzTheme="outline"></i>
          </span>
          <span class="bst-header-icon">
            <i nz-icon nzType="question-circle" nzTheme="outline"></i>
          </span>
          <span class="bst-header-icon">
            <nz-badge [nzCount]="11" class="bst-badge">
                <i nz-icon nzType="bell" nzTheme="outline"></i>
            </nz-badge>
          </span>
          <span class="bst-header-icon" nz-dropdown [nzDropdownMenu]="userSettingMenu">
            <img class="avatar" src="assets/imgs/default_face.png">
            <span class="base-font-size">Serati Ma</span>
          </span>
          <nz-dropdown-menu #userSettingMenu>
            <ul nz-menu class="bst-header_usr_menu">
              <li nz-menu-item (click)="goPage('personal-center')">
                <a><i nz-icon nzType="user" nzTheme="outline" class="bst-header_usr_menu_icon"></i><span>个人中心</span></a>
              </li>
              <li nz-menu-item (click)="goPage('personal-setting')">
                <a><i nz-icon nzType="setting" nzTheme="outline"
                      class="bst-header_usr_menu_icon"></i><span>个人设置</span></a>
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <a (click)="goLogin()"><i nz-icon nzType="logout" nzTheme="outline"
                                          class="bst-header_usr_menu_icon"></i><span>退出登录</span></a>
              </li>
            </ul>
          </nz-dropdown-menu>

          <span class="bst-header-icon">
          <app-setting-drawer>
              <i nz-icon nzType="setting" nzTheme="outline"></i>
            </app-setting-drawer>
          </span>
        </div>
      </ng-container>
    </app-tool-bar>
  </ng-container>

  <ng-container content>
    <div>
      <app-tab></app-tab>
      <router-outlet></router-outlet>
    </div>

  </ng-container>

</app-def-layout-content>
<nz-drawer [nzBodyStyle]="{padding:0}" [nzWidth]="256" [nzClosable]="false" [nzVisible]="showOverModeNav"
           nzPlacement="left" (nzOnClose)="showOverModeNav=false">
  <ng-container *nzDrawerContent>
    <nz-layout style="overflow-x:hidden">
      <nz-sider class="menu-sidebar" [nzWidth]="256" [nzTrigger]="null">
        <app-side-nav></app-side-nav>
      </nz-sider>
    </nz-layout>

  </ng-container>
</nz-drawer>
