<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<div class="normal-table-wrap">
  <button class="m-r-8" nz-button nzType="primary" (click)="currentComp = 'home'">主动画</button>
  <button class="m-r-8" nz-button nzType="primary" (click)="currentComp = 'EnterLeave'">进场/离场</button>
  <button class="m-r-8" nz-button nzType="primary" (click)="currentComp = 'Dynamic'">动态参数</button>
  <button class="m-r-8 m-t-8" nz-button nzType="primary" (click)="currentComp = 'Experiments'">实验性</button>

  <nz-card class="m-t-8">
    <div class="center">
      @if (currentComp === 'home') {
        <app-demo-main />
      }
      @if (currentComp === 'EnterLeave') {
        <app-demo-on-enter-on-leave />
      }
      @if (currentComp === 'Dynamic') {
        <app-demo-dynamic-params />
      }
      @if (currentComp === 'Experiments') {
        <app-experiments />
      }
    </div>
  </nz-card>
</div>
