<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <button class="m-r-8 m-b-8" nz-button (click)="showDailog()">服务的方式创建自定义modal</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailog1()">modal标签通过传nzTitle来进行拖拽</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailogConfirm()">创建可拖动的confirm（by山间之明月）</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailogInfo()">创建可拖动的info（by山间之明月）</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailogSuccess()">创建可拖动的success（by山间之明月）</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailogError()">创建可拖动的error（by山间之明月）</button>
  <button class="m-r-8 m-b-8" nz-button (click)="showDailogWarning()">创建可拖动的warning（by山间之明月）</button>
  <button class="m-r-8 m-b-8" nz-button (click)="isVisibleByDir = true">指令创建（by山间之明月）</button>
</div>

<nz-modal [nzTitle]="dragTpl" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>床前明月光</p>
    <p>疑似地上霜</p>
    <p>举头望明月</p>
    <p>低头思故乡</p>
  </ng-container>
</nz-modal>

<nz-modal nzxModalDrag [nzTitle]="'指令创建可拖拽'" [(nzVisible)]="isVisibleByDir" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>床前明月光</p>
    <p>疑似地上霜</p>
    <p>举头望明月</p>
    <p>低头思故乡</p>
  </ng-container>
</nz-modal>

<!--可以将下列代码放开，放到modal的nzTitle中，也能达到拖动效果-->
<ng-template #dragTpl>
  <div class="hand-model-move" cdkDrag cdkDragBoundary="nz-modal-container" cdkDragHandle cdkDragRootElement=".ant-modal-content">这是一个可拖动modal</div>
</ng-template>
