<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <div nz-row nzJustify="center" [nzGutter]="[32, 16]">
    <div nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
      <nz-card nzSize="default" style="border-radius: 10px">
        <nz-input-group [nzSuffix]="suffixTemplate1">
          <input id="newPassword" nz-input placeholder="新密码" [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="newPassword" />
        </nz-input-group>
        <password-strength-meter [password]="newPassword" />
        <nz-input-group [nzSuffix]="suffixTemplate1">
          <input id="disablePassword" nz-input placeholder="禁用" [disabled]="true" />
        </nz-input-group>
        <password-strength-meter [password]="'fasdfasd23423'" />
      </nz-card>
    </div>
  </div>
</div>

<ng-template #suffixTemplate1>
  <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
</ng-template>
