<div class="left-nav-wrap" [class.dark-scrollbar]="(themesOptions$ | async)!.theme === 'dark'">
  @if ((themesOptions$ | async)!.hasNavHeadArea) {
    <div class="sidebar-logo" [class.p-l-8]="isCollapsed$ | async">
      <a href="#" target="_blank">
        <img alt="logo" src="assets/imgs/logo.svg" />
        <h1 class="animate-02 ng17color" [class.light]="(themesOptions$ | async)!.theme === 'light' && (isNightTheme$ | async) === false">Ant Design Pro</h1>
      </a>
    </div>
  }
  <div class="nav-ul-wrap">
    <app-nav-bar />
  </div>
</div>
