<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<div class="normal-table-wrap">
  <nz-card nzTitle="在下面输入框输入文本，切换后回来内容会保存">
    <nz-alert class="m-b-8" nzMessage="该操作不会影响页面标题，仅修改Tab标题" nzType="warning"></nz-alert>

    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input #tabTitleInput type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzSearch nzType="primary" (click)="changeTabTitle(tabTitleInput.value)">设置tab标题</button>
    </ng-template>
  </nz-card>

  <nz-card class="m-t-10" nzTitle="标签页操作">
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="closeRight()">关闭右侧</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="closeLeft()">关闭左侧</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="closeOther()">关闭其他</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="closeCurrent()">关闭当前</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="refresh()">刷新</button>
  </nz-card>

  <nz-card class="m-t-10" nzTitle="打开详情操作">
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="openDetailPage(1)">打开详情操作1</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="openDetailPage(2)">打开详情操作2</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="openDetailPage(3)">打开详情操作3</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="openDetailPage(4)">打开详情操作4</button>
    <button class="m-r-8 m-b-8" nz-button nzSearch nzType="primary" (click)="openDetailPage(5)">打开详情操作5</button>
  </nz-card>
</div>
