<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap bg-color-no p-b-50">
  <nz-card class="m-b-20" [nzBordered]="true">
    <nz-descriptions nzBordered nzTitle="项目信息" [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }" [nzSize]="'small'">
      <nz-descriptions-item nzTitle="版本"><nz-tag [nzColor]="'cyan'">1.0.0</nz-tag></nz-descriptions-item>
      <nz-descriptions-item nzTitle="最后编译时间">
        <nz-tag [nzColor]="'cyan'">{{ data | date: dateFormat }}</nz-tag>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="预览地址"><a class="operate-text" href="https://huajian123.github.io/ng-antd-admin/">预览地址</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Github"><a class="operate-text" href="https://github.com/huajian123/ng-antd-admin">Github</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="码云"><a class="operate-text" href="https://gitee.com/hjxiaoqianduan/ng-ant-admin">码云</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="纯净版项目地址"><a class="operate-text" href="https://gitee.com/hjxiaoqianduan/ng-ant-admin-pure">纯净版项目地址</a></nz-descriptions-item>
    </nz-descriptions>
  </nz-card>

  <nz-card class="m-b-20" [nzBordered]="true">
    <nz-descriptions nzBordered nzTitle="package.json中使用到的第三方包" [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }" [nzSize]="'small'">
      <nz-descriptions-item nzTitle="@amap/amap-jsapi-loader">高德地图</nz-descriptions-item>
      <nz-descriptions-item nzTitle="@antv/g2plot">g2图表</nz-descriptions-item>
      <nz-descriptions-item nzTitle="@antv/l7">antv l7地图</nz-descriptions-item>
      <nz-descriptions-item nzTitle="@antv/x6">x6流程图</nz-descriptions-item>
      <nz-descriptions-item nzTitle="@auth0/angular-jwt">jwt解析</nz-descriptions-item>
      <nz-descriptions-item nzTitle="@tinymce/tinymce-angular">富文本</nz-descriptions-item>
      <nz-descriptions-item nzTitle="angular-password-strength-meter">密码强度</nz-descriptions-item>
      <nz-descriptions-item nzTitle="zxcvbn3">上一个密码强度同时要安装这个</nz-descriptions-item>
      <nz-descriptions-item nzTitle="crypto-js">做锁屏时加密解密用的</nz-descriptions-item>
      <nz-descriptions-item nzTitle="angular2-qrcode">二维码</nz-descriptions-item>
      <nz-descriptions-item nzTitle="driver.js">第一次加载时引导页</nz-descriptions-item>
      <nz-descriptions-item nzTitle="ng-zorro-antd">zorro</nz-descriptions-item>
      <nz-descriptions-item nzTitle="screenfull">全屏</nz-descriptions-item>
      <nz-descriptions-item nzTitle="uuid">唯一id</nz-descriptions-item>
      <nz-descriptions-item nzTitle="ngx-color-picker">颜色选择器</nz-descriptions-item>
      <nz-descriptions-item nzTitle="file-saver">文件下载</nz-descriptions-item>
      <nz-descriptions-item nzTitle="ngx-echarts">echarts</nz-descriptions-item>
      <nz-descriptions-item nzTitle="echarts">也是echarts</nz-descriptions-item>
      <nz-descriptions-item nzTitle="msw">mock数据用的，proxy用法请参考16及以下的版本</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>
