<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Mã Chuyến hàng</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <ng-container *ngIf="ChuyenDto.id == ''; else showmachuyen">
                            <button nz-button nzType="primary" nzGhost (click)="selectChuyen()">Chọn Chuyến</button>
                        </ng-container>
                        <ng-template #showmachuyen>
                            <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.id}}</span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Biển số xe</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.biensoxe}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tiền đưa trước</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.tienxe}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tài chính</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.idtai}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tài phụ</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.idphu}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Điểm đi - điểm đến</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.changduong}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày Khởi hành</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.ngaydi}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày về</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{ChuyenDto.ngayve}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                    <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tổng Cước</nz-form-label>
                    <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                        <span [ngStyle]="{'color':'#177ddc'}">{{tongcuoc}}</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>
    <app-card-table-wrap [tableTitle]="'Danh sách mặt hàng'" (reload)="reloadTable()" [btnTpl]="tableBtns" [btnConfirm]="tableConfirm">
        <app-ant-table
        (selectedChange)="selectedChecked($event)"
        [checkedCashArrayFromComment]="checkedCashArray"
        (changePageNum)="getDataList()"
        [tableConfig]="tableConfig"
        [tableData]="dataList"
      ></app-ant-table>
      <ng-template #operationTpl let-id="id">
        <span *appAuth="ActionCode.EditProduct" class="operate-text">
          <button nz-button nzType="primary" nzGhost (click)="edit(id)" [disabled]="btnUpdate">Cập nhật</button>
        </span>
        <span *appAuth="ActionCode.DelProduct" class="operate-text">
          <button nz-button nzType="primary" nzGhost (click)="del(id)" [disabled]="btnDelete">Xóa</button>
        </span>
      </ng-template>
    </app-card-table-wrap>
    <ng-template #tableConfirm>
        <ng-container *ngIf="showConfirm">
            <span *appAuth="ActionCode.Confirm" class="operate-text">
                <button [disabled]="!btnConfirm" (click)="Confirm(1)" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Hoàn thành kế hoạch nhập
                </button>
            </span>
            <span *appAuth="ActionCode.Confirm" class="operate-text">
                <button [disabled]="!btnConfirmbochang" (click)="Confirm(2)" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Hoàn thành bóc hàng
                </button>
            </span>
            <span *appAuth="ActionCode.Confirm" class="operate-text">
                <button [disabled]="!btnConfirmtrahang" (click)="Confirm(3)" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Hoàn thành trả hàng
                </button>
            </span>
            <span *appAuth="ActionCode.Confirm" class="operate-text">
                <button [disabled]="!btnConfirmchiphi" (click)="Confirm(4)" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Tính chi phí
                </button>
            </span>
            <span *appAuth="ActionCode.Confirm" class="operate-text">
                <button [disabled]="!btnConfirmend" (click)="Confirm(5)" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Kết thúc chuyến hàng
                </button>
            </span>
        </ng-container>
    </ng-template>
    <ng-template #tableBtns>
        <button *appAuth="ActionCode.AddProduct" (click)="add()" nz-button nzType="primary" class="m-r-8" [disabled]="btnNew">
          <i nz-icon nzType="plus"></i>
          Thêm mới
        </button>
        <button *appAuth="ActionCode.DelAllProduct" (click)="allDel()" nz-button nzType="default" [disabled]="true">
          <i nz-icon nzType="delete"></i>
          Xóa tất cả
        </button>
    </ng-template>
</div>