<div class="determine-wrap p-b-0">
  <nz-alert nzCloseable nzMessage="确认转账后，资金将直接打入对方账户，无法退回。" nzType="info"></nz-alert>
  <nz-descriptions class="m-t-20">
    <nz-descriptions-item nzTitle="付款账户">ant-design&#64;alipay.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="收款账户">test&#64;example.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="收款人姓名">Alex</nz-descriptions-item>
    <nz-descriptions-item nzTitle="转账金额">500元</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired [nzSm]="6" [nzXs]="24">支付密码</nz-form-label>
      <nz-form-control nzErrorTip="支付密码" [nzSm]="14" [nzXs]="24">
        <nz-input-group>
          <input type="password" formControlName="password" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" (click)="submit()">提交</button>
        <button class="m-l-10" nz-button nzType="default" (click)="previous.emit()">上一步</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
