<section class="content-wrap">
  <section nz-row  [nzGutter]="[32,16]">
    <div nz-col [nzXl]="18" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <nz-card  nzTitle="活动实时交易情况">
       <div nz-row [nzGutter]="[40,16]">
         <div nz-col nzSpan="12">
           <nz-row [nzGutter]="16">
             <nz-col [nzSpan]="12">
               <nz-statistic [nzValue]="(124543233 | number)!+'元'" [nzTitle]="'今日交易总额'"></nz-statistic>
             </nz-col>
             <nz-col [nzSpan]="12">
               <nz-statistic [nzValue]="(0.92 | percent)!" [nzTitle]="'销售目标完成率'"></nz-statistic>
             </nz-col>
           </nz-row>
         </div>
         <div nz-col nzSpan="12">
           <nz-row [nzGutter]="16">
             <nz-col [nzSpan]="12">
               <nz-countdown [nzValue]="deadline" [nzTitle]="'活动剩余时间'" [nzFormat]="'HH:mm:ss:SSS'"></nz-countdown>
             </nz-col>
             <nz-col [nzSpan]="12">
               <nz-statistic [nzValue]="(234 | number)!" [nzTitle]="'每秒交易总额'"></nz-statistic>
             </nz-col>
           </nz-row>
         </div>
       </div>
      </nz-card>
    </div>
    <div nz-col [nzXl]="6" [nzXXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <nz-card  nzTitle="活动情况预测">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
  </section>

</section>
