.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrap {
  width: 100%;
  padding: 24px;

  .ant-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .card-wrap {
      overflow: hidden;

      .card-top {
        position: relative;

        .title {
          font-size: 14px;
          line-height: 22px;
        }

        .number {
          height: 38px;
          margin-top: 4px;
          margin-bottom: 0;
          overflow: hidden;
          font-size: 30px;
          line-height: 38px;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
        }

        i {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }
      }

      .card-mid {
        height: 25px;
        margin: 15px 0;

        div.mid-text {
          display: inline-block;
          margin-right: 10px;
        }
      }

      .card-footer {
        padding-top: 9px;
      }
    }
  }

  .flow-wrap {
    width: 100%;

    .rank-list {
      .center;

      justify-content: space-between;
      margin-top: 16px;
      padding: 0 35px;
    }
  }

  .bottom-block-tab-wrap {
    .tab-pipe-wrap {
      display: flex;
    }
  }
}

#histogram {
  width: 100%;
  height: 295px;
}
