<nz-card style="width:100%;" [nzBordered]="false" [nzTitle]="tableToolbar">
  <ng-content></ng-content>
</nz-card>
<ng-template #tableToolbar>
  <div class="ant-pro-table-toolbar">
    <div class="ant-pro-table-toolbar-title">查询表格</div>
    <div class="ant-pro-table-toolbar-option" *ngIf="needAddBtn">
      <button nz-button nzType="primary" (click)="addBtnClick()"><i nz-icon nzType="plus"></i>新建</button>
    </div>
    <div class="ant-pro-table-toolbar-default-option">
      <nz-divider nzType="vertical"></nz-divider>
      <nz-space [nzSize]="16" nzDirection="horizontal">
        <nz-space-item>
          <i nz-icon nzType="column-width" nzTheme="outline"></i>
        </nz-space-item>
        <nz-space-item>
          <i nz-icon nzType="fullscreen" nzTheme="outline"></i>
        </nz-space-item>
        <nz-space-item>
          <i nz-icon nzType="setting" nzTheme="outline"></i>
        </nz-space-item>
      </nz-space>
    </div>
  </div>
</ng-template>
