<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" nzTitle="Message">
    <button nz-button nzType="primary" (click)="msg('info')">Info</button>
    <button class="success" nz-button (click)="msg('success')">Success</button>
    <button class="warning" nz-button (click)="msg('warning')">Warning</button>
    <button nz-button nzDanger nzType="primary" (click)="msg('error')">Error</button>
    <button class="loading" nz-button (click)="msg('loading')">Loading</button>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="Confirm">
    <button nz-button nzType="primary" (click)="modalShow('confirm', 'info')">Info</button>
    <button class="success" nz-button (click)="modalShow('confirm', 'success')">Success</button>
    <button class="warning" nz-button (click)="modalShow('confirm', 'warning')">Warning</button>
    <button nz-button nzDanger nzType="primary" (click)="modalShow('confirm', 'error')">Error</button>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="modal">
    <button nz-button nzType="primary" (click)="modalShow('info', 'info')">Info</button>
    <button class="success" nz-button (click)="modalShow('success', 'success')">Success</button>
    <button class="warning" nz-button (click)="modalShow('warning', 'warning')">Warning</button>
    <button nz-button nzDanger nzType="primary" (click)="modalShow('error', 'error')">Error</button>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="Notification">
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template)">notification</button>
  </nz-card>

  <ng-template #template>
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-with-icon">
        <span class="ant-notification-notice-icon">
          <i nz-icon nzType="check" style="color: rgb(16, 142, 233)"></i>
        </span>
        <div class="ant-notification-notice-message">Notification Title</div>
        <div class="ant-notification-notice-description">content success</div>
      </div>
    </div>
  </ng-template>
</div>
