<ng-container [formGroup]="validateForm">
  <div nz-row>
    <nz-form-item nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="warehouseName" nzRequired nzSpan="24">仓库名</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="18" [nzMd]="24" [nzSm]="24" [nzXl]="18" [nzXXl]="18">
        <input id="warehouseName" formControlName="warehouseName" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="warehouseDomainName" nzRequired nzSpan="24">仓库域名</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="18" [nzMd]="24" [nzSm]="24" [nzXl]="18" [nzXXl]="18">
        <input id="warehouseDomainName" formControlName="warehouseDomainName" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzLg]="8" [nzMd]="24" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="warehouseManager" nzRequired nzSpan="24">仓库管理员</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="24" [nzXXl]="24">
        <input id="warehouseManager" formControlName="warehouseManager" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="approver" nzRequired nzSpan="24">审批人</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="18" [nzMd]="24" [nzSm]="24" [nzXl]="18" [nzXXl]="18">
        <input id="approver" formControlName="approver" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="effectiveTime" nzRequired nzSpan="24">生效日期</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="18" [nzMd]="24" [nzSm]="24" [nzXl]="18" [nzXXl]="18">
        <input id="effectiveTime" formControlName="effectiveTime" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzLg]="8" [nzMd]="24" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <nz-form-label nzFor="warehouseType" nzRequired nzSpan="24">仓库类型</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="24" [nzXXl]="24">
        <input id="warehouseType" formControlName="warehouseType" nz-input />
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-container>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    必填项
  }
</ng-template>
