<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<div class="normal-table-wrap">
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzFlex="300px">
      <textarea class="m-b-8" nz-input placeholder="发送的内容服务端会返回" [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="msg"></textarea>
      <button nz-button nzType="primary" (click)="send()">发送</button>
      <button class="m-l-8" nz-button nzType="default" (click)="end()">断开连接</button>
      <span>链接状态：{{ concate }}</span>
    </div>
    <div nz-col nzFlex="auto">
      <nz-card nzTitle="消息内容">
        @for (item of result; track item) {
          <div class="m-t-0 p-8 text-break m-b-8" nz-result-content>
            <span nz-typography>{{ item }}</span>
          </div>
          <div class="sp-12 text-right m-t-5" nz-typography nzType="secondary">已读</div>
        }
      </nz-card>
    </div>
  </div>
</div>
