<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<ng-template #headerContent>
  <div class="center">
    <app-water-mark />
    <div style="width: 455px">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="请输入" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzSearch nzSize="large" nzType="primary">搜索</button>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #headerFooter>
  <nz-tabset [(nzSelectedIndex)]="currentSelTab">
    @for (item of tabData; track item) {
      <nz-tab [nzTitle]="item.label" (nzClick)="to(item)"></nz-tab>
    }
  </nz-tabset>
</ng-template>
<div class="normal-table-wrap" [@fadeRouteAnimation]="prepareRoute(searchOutlet)">
  <router-outlet #searchOutlet="outlet"></router-outlet>
</div>
