import { NgModule } from '@angular/core';
import { <%= classify(name) %>ModalComponent } from './<%= dasherize(name) %>-modal.component';
import {SharedModule} from "@shared/shared.module";

@NgModule({
  declarations: [
    <%= classify(name) %>ModalComponent
  ],
  imports: [
    SharedModule,
  ]
})
export class <%= classify(name) %>ModalModule { }
