<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card>
    <div class="controls">
      <label nz-checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="disabled">disabled</label>
      <label nz-checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="unbounded">unbounded</label>
    </div>
    <div class="center m-t-10 hand-model ripple-demo" appRipple [color]="color()" [disabled]="disabled()" [unbounded]="unbounded()">
      <span class="sp-28">点击</span>
    </div>
  </nz-card>
</div>
