<div class="p-16">
  <nz-breadcrumb class="m-l-5">
    <nz-breadcrumb-item>
      <a>
        <span nz-icon nzType="home" class="sp-14"></span>
        <span class="sp-14">主页</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>
        <span nz-icon nzType="user" class="sp-14"></span>
        <span class="sp-14">系统管理</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><span class="sp-14">人员列表</span></nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-card nzHoverable class="m-t-15 b-r-8" nzTitle="模板管理">
    <div class="full-with flex space-between m-b-8">
      <button nz-button nzType="primary">新建人员</button>
      <nz-input-group style="width: 220px" [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请搜索人员" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <app-user-member-manage></app-user-member-manage>
  </nz-card>
</div>
