<div class="register-form-wrap">
  <h3 class="title">Đăng ký</h3>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ Email ！">
        <nz-input-group [nzSize]="'large'">
          <input type="text" nz-input formControlName="name" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu !">
        <nz-input-group [nzSize]="'large'">
          <input type="password" nz-input formControlName="password" placeholder="Mật khẩu ít nhất 6 chữ số, phân biệt chữ hoa và chữ thường" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng xác nhận mật khẩu của bạn !">
        <nz-input-group [nzSize]="'large'">
          <input type="text" nz-input formControlName="name" placeholder="Xác nhận mật khẩu" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại !">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSize]="'large'">
          <input type="text" nz-input formControlName="name" placeholder="Số điện thoại" />
        </nz-input-group>
      </nz-form-control>

      <ng-template #addOnBeforeTemplate>
        <nz-select [ngModel]="'84'" [ngModelOptions]="{ standalone: true }">
          <nz-option nzLabel="+84" nzValue="84"></nz-option>
          <nz-option nzLabel="+84" nzValue="84"></nz-option>
        </nz-select>
      </ng-template>
    </nz-form-item>

    <nz-form-item nz-row nzJustify="space-between">
      <nz-form-control class="flex-1" style="max-width: 65%" nz-col [nzXs]="15" [nzSm]="16" nzErrorTip="vui lòng nhập mã xác nhận !">
        <nz-input-group [nzSize]="'large'">
          <input type="password" nz-input formControlName="password" placeholder="mã xác nhận" />
        </nz-input-group>
      </nz-form-control>
      <button class="p-0" nz-button nz-col [nzXs]="7" [nzSm]="7" [nzSize]="'large'" nzType="default">lấy mã xác minh</button>
    </nz-form-item>

    <div nz-row class="login-form-margin" nzAlign="middle" nzJustify="space-between">
      <div nz-col [nzSpan]="12">
        <button nz-button nzSize="large" class="login-form-button login-form-margin" [nzType]="'primary'">Đăng Ký</button>
      </div>
      <div class="text-right" nz-col [nzSpan]="9">
        <a class="password-login" routerLink="/login/login-form">Đăng nhập bằng tài khoản hiện có</a>
      </div>
    </div>
  </form>
</div>
