<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a class="operate-text">Thiết lập lại</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Mật khẩu tài khoản" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc>
        Độ mạnh mật khẩu hiện tại:
        <span class="text-green">mạnh mẽ</span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a class="operate-text">Thiết lập lại</a>
    </ng-template>
    <nz-list-item-meta nzTitle="điện thoại bí mật" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>điện thoại bị ràng buộc：159****2231</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a class="operate-text">Thiết lập lại</a>
    </ng-template>
    <nz-list-item-meta nzTitle="câu hỏi bảo mật" [nzDescription]="questionDesc">
      <ng-template #questionDesc>Các câu hỏi bảo mật mật khẩu không được đặt, có thể bảo vệ hiệu quả bảo mật tài khoản</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a class="operate-text">Thiết lập lại</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Email sao lưu" [nzDescription]="emailDesc">
      <ng-template #emailDesc>Email đã bị ràng buộc：cip*****.com</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a class="operate-text">Thiết lập lại</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Thiết bị MFA" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc>Thiết bị MFA chưa liên kết, sau khi liên kết, bạn có thể thực hiện xác nhận lần thứ hai</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
