<nz-card id="multi-tab" class="m-t-10" style="height: 35px" [nzBodyStyle]="{padding:0}" [nzBordered]="false">
  <nz-tabset (nzClose)="clickCloseIcon($event)" [nzSelectedIndex]="currentIndex"
             [nzTabBarStyle]="{'height':'35px'}"
             [nzTabPosition]="'top'" [nzType]="'editable-card'" [nzHideAdd]="true">
    <nz-tab (nzClick)="goPage(tab)" nzClosable (nzContextmenu)="contextMenu($event, menu)" [nzTitle]="tab.title"
            *ngFor="let tab of tabs;let i =index;trackBy:trackByTab;">
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="refresh()">刷新</li>
          <li nz-menu-item [nzDisabled]="tabs.length-1===0" (click)="closeTab(tab,$event,i)">关闭标签</li>
          <li nz-menu-item [nzDisabled]="tabs.length-1===0" (click)="closeOtherTab(tab,$event,i)">关闭其他标签</li>
          <li nz-menu-item [nzDisabled]="tabs.length-1===i" (click)="closeRithTab(tab,$event,i)">关闭右侧标签</li>
        </ul>
      </nz-dropdown-menu>
    </nz-tab>
  </nz-tabset>
</nz-card>
