@import 'admin-variable';
:host ::ng-deep {
  .ant-tabs-tab {
    transition: background-color 0s !important;
  }

  .ant-tabs-nav {
    margin-bottom: 0 !important;
    transition: background-color 0s !important;
  }
}

.fixed-tab {
  position: fixed;
  right: 0;
  z-index: 999;
  width: calc(100% - @left-nav-width);
  transition: width 0.2s;

  i {
    position: absolute;
    top: 4px;
    right: 0;
    display: none;
  }
}

.fixed-collapsed {
  width: calc(100% - @collapsed-nav-width);
}

.fixed-over-mode {
  width: 100%;
}
