<nz-list nzItemLayout="horizontal">
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.password" nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="Mật khẩu tài khoản" nzDescription="Tin nhắn từ người dùng khác sẽ được thông báo dưới dạng tin nhắn nội bộ"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.messages" nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="Thông tin hệ thống" nzDescription="Tin tức hệ thống sẽ được thông báo dưới dạng thư nội bộ"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.todo" nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="Tin nhắn đang chờ xử lý" nzDescription="Tin đang chờ xử lý sẽ được thông báo dưới dạng thư nội bộ"></nz-list-item-meta>
  </nz-list-item>
</nz-list>
