<div class="left-nav-wrap" [class.dark-scrollbar]="$themesOptions().theme === 'dark'">
  @if ($themesOptions().hasNavHeadArea) {
    <div class="sidebar-logo" [class.p-l-8]="$isCollapsed()">
      <a href="#" target="_blank">
        <img alt="logo" src="imgs/logo.svg" />
        <h1 class="animate-02 ng17color" [class.light]="$themesOptions().theme === 'light' && $isNightTheme() === false">Ant Design Pro</h1>
      </a>
    </div>
  }
  <div class="nav-ul-wrap">
    <app-nav-bar />
  </div>
</div>
