<div class="container">
  <h1 class="center sp-28" [@enter1]>进场/离场动画.</h1>

  <div [@enter2]>
    <nz-select class="m-r-8" nzAllowClear nzPlaceHolder="Choose" nzShowSearch style="width: 200px" [(ngModel)]="animation" (ngModelChange)="state = false">
      <nz-option-group *ngFor="let option of options" [nzLabel]="option.label">
        <nz-option *ngFor="let animation of option.animations" [nzLabel]="animation" [nzValue]="animation"></nz-option>
      </nz-option-group>
    </nz-select>

    <button nz-button nzType="default" (click)="toggleState()">点击切换</button>
  </div>

  <div class="center-children-horizontally" [@enter3] [ngSwitch]="animation">
    <div class="angular-img-wrapper">
      <!-- Bouncing -->
      <ng-container *ngSwitchCase="'bounceIn'">
        <app-angular-img *ngIf="state" [@bounceInOnEnter]="{ value: '', params: { duration: 1000 } }" [@bounceOutOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'bounceInUp'">
        <app-angular-img *ngIf="state" [@bounceInUpOnEnter] [@bounceOutUpOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'bounceInDown'">
        <app-angular-img *ngIf="state" [@bounceInDownOnEnter] [@bounceOutDownOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'bounceInLeft'">
        <app-angular-img *ngIf="state" [@bounceInLeftOnEnter] [@bounceOutRightOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'bounceInRight'">
        <app-angular-img *ngIf="state" [@bounceInRightOnEnter] [@bounceOutLeftOnLeave] />
      </ng-container>
      <!-- Fading -->
      <ng-container *ngSwitchCase="'fadeInOut'">
        <app-angular-img *ngIf="state" [@fadeInOnEnter] [@fadeOutOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInUpOutUp'">
        <app-angular-img *ngIf="state" [@fadeInUpOnEnter] [@fadeOutUpOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInDownOutDown'">
        <app-angular-img *ngIf="state" [@fadeInDownOnEnter] [@fadeOutDownOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInLeftOutRight'">
        <app-angular-img *ngIf="state" [@fadeInLeftOnEnter] [@fadeOutRightOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInRightOutLeft'">
        <app-angular-img *ngIf="state" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInUpBigOutUpBig'">
        <app-angular-img *ngIf="state" [@fadeInUpBigOnEnter] [@fadeOutUpBigOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInDownBigOutDownBig'">
        <app-angular-img *ngIf="state" [@fadeInDownBigOnEnter] [@fadeOutDownBigOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInLeftBigOutRightBig'">
        <app-angular-img *ngIf="state" [@fadeInLeftBigOnEnter] [@fadeOutRightBigOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInRightBigOutLeftBig'">
        <app-angular-img *ngIf="state" [@fadeInRightBigOnEnter] [@fadeOutLeftBigOnLeave] />
      </ng-container>
      <!-- Flip -->
      <ng-container *ngSwitchCase="'flipX'">
        <app-angular-img *ngIf="state" [@flipInXOnEnter] [@flipOutXOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'flipY'">
        <app-angular-img *ngIf="state" [@flipInYOnEnter] [@flipOutYOnLeave] />
      </ng-container>
      <!-- LightSpeed -->
      <ng-container *ngSwitchCase="'lightSpeed'">
        <app-angular-img *ngIf="state" [@lightSpeedInOnEnter] [@lightSpeedOutOnLeave] />
      </ng-container>
      <!-- Rotate -->
      <ng-container *ngSwitchCase="'rotateInOut'">
        <app-angular-img *ngIf="state" [@rotateInOnEnter] [@rotateOutOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'rotateInOutDownLeft'">
        <app-angular-img *ngIf="state" [@rotateInDownLeftOnEnter] [@rotateOutDownLeftOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'rotateInOutDownRight'">
        <app-angular-img *ngIf="state" [@rotateInDownRightOnEnter] [@rotateOutDownRightOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'rotateInOutUpLeft'">
        <app-angular-img *ngIf="state" [@rotateInUpLeftOnEnter] [@rotateOutUpLeftOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'rotateInOutUpRight'">
        <app-angular-img *ngIf="state" [@rotateInUpRightOnEnter] [@rotateOutUpRightOnLeave] />
      </ng-container>
      <!-- Sliding -->
      <ng-container *ngSwitchCase="'slideInUpOutUp'">
        <app-angular-img *ngIf="state" [@slideInUpOnEnter] [@slideOutUpOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'slideInDownOutDown'">
        <app-angular-img *ngIf="state" [@slideInDownOnEnter] [@slideOutDownOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'slideInLeftOutRight'">
        <app-angular-img *ngIf="state" [@slideInLeftOnEnter] [@slideOutRightOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'slideInRightOutLeft'">
        <app-angular-img *ngIf="state" [@slideInRightOnEnter] [@slideOutLeftOnLeave] />
      </ng-container>
      <!-- Zooming -->
      <ng-container *ngSwitchCase="'zoomInOut'">
        <app-angular-img *ngIf="state" [@zoomInOnEnter] [@zoomOutOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'zoomInUpOutUp'">
        <app-angular-img *ngIf="state" [@zoomInUpOnEnter] [@zoomOutUpOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'zoomInDownOutDown'">
        <app-angular-img *ngIf="state" [@zoomInDownOnEnter] [@zoomOutDownOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'zoomInLeftOutRight'">
        <app-angular-img *ngIf="state" [@zoomInLeftOnEnter] [@zoomOutRightOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'zoomInRightOutLeft'">
        <app-angular-img *ngIf="state" [@zoomInRightOnEnter] [@zoomOutLeftOnLeave] />
      </ng-container>
      <!-- Specials -->
      <ng-container *ngSwitchCase="'jackInTheBoxOnEnterHingeOnLeave'">
        <app-angular-img *ngIf="state" [@hingeOnLeave] [@jackInTheBoxOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'rollInOut'">
        <app-angular-img *ngIf="state" [@rollInOnEnter] [@rollOutOnLeave] />
      </ng-container>
      <!-- Attention Seekers -->
      <ng-container *ngSwitchCase="'bounce'">
        <app-angular-img *ngIf="state" [@bounceOnEnter] [@fadeOutOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'flash'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@flashOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'pulse'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@pulseOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'rubberBand'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@rubberBandOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'shake'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@shakeOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'swing'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@swingOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'tada'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@tadaOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'wobble'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@wobbleOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'jello'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@jelloOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'flip'">
        <app-angular-img *ngIf="state" [@fadeOutOnLeave] [@flipOnEnter] />
      </ng-container>
      <!-- Other -->
      <ng-container *ngSwitchCase="'expandCollapse'">
        <app-angular-img *ngIf="state" [@collapseOnLeave] [@expandOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInExpandFadeOutCollapse'">
        <app-angular-img *ngIf="state" [@fadeInExpandOnEnter] [@fadeOutCollapseOnLeave] />
      </ng-container>
      <ng-container *ngSwitchCase="'expandRightCollapseLeft'">
        <app-angular-img *ngIf="state" [@collapseLeftOnLeave] [@expandRightOnEnter] />
      </ng-container>
      <ng-container *ngSwitchCase="'fadeInExpandRightFadeOutCollapseLeft'">
        <app-angular-img *ngIf="state" [@fadeInExpandRightOnEnter] [@fadeOutCollapseLeftOnLeave] />
      </ng-container>
    </div>
    <div *ngSwitchDefault>Select animaion</div>
  </div>
</div>
