<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="taskName">任务名称</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <input nz-input formControlName="taskName" id="taskName" placeholder="任务名称" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="taskDesc">任务描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <textarea rows="4" formControlName="taskDesc" maxlength="255" nz-input id="taskDesc" placeholder="任务描述"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="userName">执行人</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
        <input nz-input formControlName="userName" id="userName" placeholder="执行人" />
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="startTime">开始时间</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-date-picker formControlName="startTime"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="endTime">截止时间</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-date-picker formControlName="endTime"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="finishRate">完成进度</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-slider [nzTooltipPlacement]="'bottom'" [nzTipFormatter]="formatter" formControlName="finishRate"></nz-slider>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #combineTpl let-control>
  <ng-container *ngIf="control.hasError('message')">{{ control.errors.message }}</ng-container>
  <ng-container *ngIf="control.hasError('required')">必填项</ng-container>
</ng-template>
<ng-template #tagPlaceHolder let-selectedList>以及更多{{ selectedList.length }}人</ng-template>
