<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[githubOp]">
    <ng-template #githubOp>
      <a class="operate-text">绑定</a>
    </ng-template>
    <nz-list-item-meta nzDescription="当前未绑定Github账号" nzTitle="绑定Github" [nzAvatar]="githubAvatar">
      <ng-template #githubAvatar>
        <i class="icon-sm" nz-icon nzType="github"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[taobaoOp]">
    <ng-template #taobaoOp>
      <a class="operate-text">绑定</a>
    </ng-template>
    <nz-list-item-meta nzDescription="当前未绑定Taobao账号" nzTitle="绑定Taobao" [nzAvatar]="taobaoAvatar">
      <ng-template #taobaoAvatar>
        <i class="icon-sm color-taobao" nz-icon nzType="taobao"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[alipayOp]">
    <ng-template #alipayOp>
      <a class="operate-text">绑定</a>
    </ng-template>
    <nz-list-item-meta nzDescription="当前未绑定Alipay账号" nzTitle="绑定Alipay" [nzAvatar]="alipayAvatar">
      <ng-template #alipayAvatar>
        <i class="icon-sm color-alipay" nz-icon nzType="alipay-circle"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
