<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[githubOp]">
    <ng-template #githubOp>
      <a class="operate-text">Ràng buộc </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Ràng buộc Github" [nzAvatar]="githubAvatar" nzDescription="Tài khoản Github hiện không bị ràng buộc">
      <ng-template #githubAvatar>
        <i nz-icon nzType="github" class="icon-sm"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[taobaoOp]">
    <ng-template #taobaoOp>
      <a class="operate-text">Ràng buộc</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Ràng buộc Facebook" [nzAvatar]="facebookAvatar" nzDescription="Tài khoản Fecebook hiện không bị ràng buộc">
      <ng-template #facebookAvatar>
        <i nz-icon [nzIconfont]="'icon-facebook'" class="icon-sm color-facebook"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[alipayOp]">
    <ng-template #alipayOp>
      <a class="operate-text">Ràng buộc</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Rang buộc Telegram" [nzAvatar]="telegramAvatar" nzDescription="Tài khoản Telegram hiện không bị ràng buộc">
      <ng-template #telegramAvatar>
        <i nz-icon   nzSrc="'assets/imgs/default_face.png'" class="icon-sm color-telegram"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
