<!--头部版块-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
    <form nz-form>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzFor]="">Tên bộ phận</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Vui lòng nhập tên bộ phận" name="departmentName" [(ngModel)]="searchParam.departmentName" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzFor]="">Tiểu bang</nz-form-label>
            <nz-form-control>
              <nz-select name="state" [(ngModel)]="searchParam.state" nzPlaceHolder="Sổ xuống lựa chọn" nzAllowClear>
                <nz-option *ngFor="let item of stateOptions" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="text-right p-0 m-b-10">
          <button (click)="getDataList()" nz-button [nzType]="'primary'">
            <i nz-icon nzType="search"></i>
            Tìm kiếm
          </button>
          <button nz-button class="m-l-15" (click)="resetForm()">
            <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            cài lại
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <app-card-table-wrap [tableTitle]="'部门列表'" (reload)="reloadTable()" [btnTpl]="tableBtns">
    <app-tree-table [tableConfig]="tableConfig" (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)" [tableData]="dataList"></app-tree-table>
    <ng-template #operationTpl let-id="id" let-fatherId="fatherId">
      <span *appAuth="ActionCode.DeptEdit" class="operate-text" (click)="edit(id, fatherId)">Chỉnh sửa</span>
      <span *appAuth="ActionCode.DeptDel" class="operate-text" (click)="del(id)">Xóa bỏ</span>
      <span *appAuth="ActionCode.DeptAddLowLevel" class="operate-text" (click)="add(id)">Thêm cấp dưới</span>
    </ng-template>
  </app-card-table-wrap>
</div>

<ng-template #tableBtns>
  <button (click)="add(0)" nz-button nzType="primary" class="m-r-8">
    <i nz-icon nzType="plus"></i>
    Mới
  </button>
</ng-template>

<ng-template #state let-state="state">
  <ng-container *ngTemplateOutlet="state ? yesTpl : notTpl"></ng-container>
</ng-template>
<ng-template #yesTpl>
  <nz-tag [nzColor]="'green'">Có sẵn</nz-tag>
</ng-template>
<ng-template #notTpl>
  <nz-tag [nzColor]="'magenta'">Vô hiệu hóa</nz-tag>
</ng-template>
