.task-head {
  & > div {
    padding-top: 20px;
  }

  .task-head-title {
    font-size: 14px;
  }

  .divider {
    height: 40px;
  }

  p {
    font-size: 24px;
  }
}

.remove-button {
  top: 0;
  right: 0;
}
