<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày bắt đầu</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngaybatdau"
                                [nzDisabledDate]="disabledStartSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="searchParam.ngaybatdau" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleStartOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Ngày kết thúc</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngayketthuc"
                                #endSoplnDate
                                [nzDisabledDate]="disabledEndSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="searchParam.ngayketthuc" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleEndOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24"  class="text-right p-0 m-b-10">
                    <button (click)="getDataList()" nz-button [nzType]="'primary'">
                        <i nz-icon nzType="search"></i>
                        Tìm kiếm
                      </button>
                      <button nz-button class="m-l-15" (click)="resetForm()">
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                        Làm mới
                      </button>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="inputIcon">
                    <nz-form-item>
                        <!-- Tài Chinh -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Tài chính</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonTaixe">
                                <input name="idtai" type="text" nz-input [(ngModel)]="searchParam.idtai" placeholder="" (blur)="fnFocusOutTaixe()"/>
                            </nz-input-group>
                            <ng-template #suffixIconButtonTaixe>
                                <button nz-button class="bg-icon" (click)="searchTaixeClick()" [nzType]="'primary'"><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <nz-form-label [nzNoColon]="true" nzFor="" class="fix-inputIcon"><span><u>{{tainm}}</u></span></nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="inputIcon">
                    <nz-form-item>
                        <!-- Tài phụ -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Tài phụ</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonPhuxe">
                                <input name="idphu" type="text" nz-input [(ngModel)]="searchParam.idphu" placeholder="" (blur)="fnFocusOutPhuxe()"/>
                            </nz-input-group>
                            <ng-template #suffixIconButtonPhuxe>
                                <button nz-button class="bg-icon" (click)="searchPhuxeClick()" [nzType]="'primary'"><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <nz-form-label [nzNoColon]="true" nzFor="" class="fix-inputIcon"><span><u>{{phunm}}</u></span></nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="inputIcon">
                    <nz-form-item>
                        <!-- Biến số xe -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Biển số xe</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonBiensoxe">
                                <input name="biensoxe" type="text" nz-input [(ngModel)]="searchParam.biensoxe" placeholder="" (blur)="fnFocusOutBiensoxe()"/>
                            </nz-input-group>
                            <ng-template #suffixIconButtonBiensoxe>
                                <button nz-button class="bg-icon" (click)="searchBiensoxeClick()" [nzType]="'primary'"><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <nz-form-label [nzNoColon]="true" nzFor="" class="fix-inputIcon"><span><u>{{biensoxenm}}</u></span></nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <!-- Trang thái chuyến hàng -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Trạng thái chuyến hàng</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-select name="trangthai" nzShowSearch nzAllowClear nzPlaceHolder="Select" [(ngModel)]="searchParam.trangthai">
                                <nz-option *ngFor="let lst of listStatus" nzLabel="{{lst['lable']}}" nzValue="{{lst['value']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <app-card-table-wrap [tableTitle]="'Kết quả tìm kiếm'" (reload)="reloadTable()" [btnTpl]="tableBtns">
        <app-ant-table
          (selectedChange)="selectedChecked($event)"
          [checkedCashArrayFromComment]="checkedCashArray"
          (changePageSize)="changePageSize($event)"
          (changePageNum)="getDataList($event)"
          [tableConfig]="tableConfig"
          [tableData]="dataList"
        ></app-ant-table>
        <ng-template #operationTpl let-id="id" let-showBtn="showBtn">
          <span *appAuth="ActionCode.ChuyenEdit" class="operate-text">
            <button *ngIf="showBtn['btnUpdate']" nz-button nzType="primary" nzGhost (click)="edit(id)">Cập nhật</button>
          </span>
          <span *appAuth="ActionCode.ChuyenDel" class="operate-text">
            <button *ngIf="showBtn['btnDelete']" nz-button nzType="primary" nzGhost (click)="del(id)">Xóa</button>
          </span>
          <span *appAuth="ActionCode.ChuyenConfirmbochang" class="operate-text">
            <button *ngIf="showBtn['btnConfirmbochang']" nz-button nzType="primary" nzGhost (click)="confirmbochang(id)">Hoàn thành bóc hàng</button>
          </span>
          <span *appAuth="ActionCode.ChuyenConfirmtrahang" class="operate-text">
            <button *ngIf="showBtn['btnConfirmtrahang']" nz-button nzType="primary" nzGhost (click)="confirmtrahang(id)">Hoàn thành trả hàng</button>
          </span>
          <span *appAuth="ActionCode.ChuyenConfirmchiphi" class="operate-text">
            <button *ngIf="showBtn['btnConfirmchiphi']" nz-button nzType="primary" nzGhost (click)="confirmchiphi(id)">Tính chi phí</button>
          </span>
          <span *appAuth="ActionCode.ChuyenConfirmend" class="operate-text">
            <button *ngIf="showBtn['btnConfirmend']" nz-button nzType="primary" nzGhost (click)="confirmend(id)">Kết thúc chuyến hàng</button>
          </span>
          <span *ngIf="showBtn['labelShowInfo']">
              Tổng cước: {{showBtn['tongcuoc']}} | Tổng chi phí: {{showBtn['tongchiphi']}}
          </span>
        </ng-template>
        <ng-template #Tltentai let-idtai="idtai">
            <span>{{idtai['name']}}</span>
        </ng-template>
        <ng-template #Tltenphu let-idphu="idphu">
            <span>{{idphu['name']}}</span>
        </ng-template>
        <ng-template #Tlbiensoxe let-biensoxe="biensoxe" let-id="id" let-changduong="changduong" let-idtai="idtai['name']" let-idphu="idphu['name']" let-tienxe="tienxe" let-ngaydi="ngaydi" let-ngayve="ngayve" let-trangthai="trangthai">
            <a nz-button nzType="link"  (click)="getItem(id,changduong,idtai,idphu,biensoxe['biensoxe'],tienxe,ngaydi,ngayve,trangthai)"><span>{{biensoxe['biensoxe']}}</span></a>
        </ng-template>
        <ng-template #operationTpl let-id="id" let-name="name">
        </ng-template>
    </app-card-table-wrap>

    <ng-template #tableBtns>
        <button *appAuth="ActionCode.ChuyenAdd" (click)="add()" nz-button nzType="primary" class="m-r-8">
          <i nz-icon nzType="plus"></i>
          Thêm mới
        </button>
        <button *appAuth="ActionCode.DataScDelAll" (click)="allDel()" nz-button nzType="default">
          <i nz-icon nzType="delete"></i>
          Xóa tất cả
        </button>
    </ng-template>
</div>

