<nz-list nzItemLayout="horizontal">
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="开" nzUnCheckedChildren="关" [(ngModel)]="i.password"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="其他用户的消息将以站内信的形式通知" nzTitle="账户密码"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="开" nzUnCheckedChildren="关" [(ngModel)]="i.messages"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="系统消息将以站内信的形式通知" nzTitle="系统消息"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="开" nzUnCheckedChildren="关" [(ngModel)]="i.todo"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="待办消息将以站内信的形式通知" nzTitle="待办消息"></nz-list-item-meta>
  </nz-list-item>
</nz-list>
