<div class="content-wrap">
  <nz-card [nzBodyStyle]="{ padding: 0 }">
    <div class="menu-wrap" [ngClass]="{ 'horizontal-model': tabModel === 'horizontal' }">
      <ul [ngClass]="{ menu: tabModel !== 'horizontal' }" nz-menu nzTheme="light" [nzMode]="tabModel">
        <li *ngFor="let m of menus" (click)="to(m)" nz-menu-item [nzSelected]="m.selected">{{ m.title }}</li>
      </ul>
      <div class="context">
        <nz-card nzBordered="false">
          <div nz-row>
            <h4 nz-typography nz-col nzSpan="24">{{ currentTitle }}</h4>
            <div nz-col nzSpan="24">
              <ng-template appAd></ng-template>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-card>
</div>
