<div class="content-wrap">
  <nz-card [nzBodyStyle]="{ padding: 0 }">
    <div class="menu-wrap" [ngClass]="{ 'horizontal-model': tabModel === 'horizontal' }">
      <ul nz-menu nzTheme="light" [ngClass]="{ menu: tabModel !== 'horizontal' }" [nzMode]="tabModel">
        @for (m of menus; track m) {
          <li nz-menu-item [nzSelected]="m.selected" (click)="to(m)">{{ m.title }}</li>
        }
      </ul>
      <div class="context">
        <nz-card nzBordered="false">
          <div nz-row>
            <h4 nz-col nz-typography nzSpan="24">{{ currentTitle }}</h4>
            <div nz-col nzSpan="24">
              <ng-template appAd></ng-template>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-card>
</div>
