<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldPassword">Mật khẩu cũ</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="combineTpl">
      <input nz-input formControlName="oldPassword" id="oldPassword" placeholder="Mật khẩu cũ" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">Mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-input-group [nzSuffix]="suffixTemplate1">
        <input nz-input [type]="passwordVisible ? 'text' : 'password'" (ngModelChange)="updateConfirmValidator()" formControlName="newPassword" id="newPassword" placeholder="Mật khẩu mới" />
      </nz-input-group>
      <password-strength-meter [password]="newPassword!.value"></password-strength-meter>
      <ng-template #suffixTemplate1>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sureNewPassword">Xác nhận mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="combineTpl">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input nz-input [type]="compirePasswordVisible ? 'text' : 'password'" formControlName="sureNewPassword" id="sureNewPassword" placeholder="Xác nhận mật khẩu mới" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="compirePasswordVisible ? 'eye-invisible' : 'eye'" (click)="compirePasswordVisible = !compirePasswordVisible"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #combineTpl let-control>
  <ng-container *ngIf="control.hasError('message')">{{ control.errors.message }}</ng-container>
  <ng-container *ngIf="control.hasError('required')">Phần bắt buộc</ng-container>
</ng-template>
