<div>
  <h2 class="m-b-8" [class.is-over-model]="isOverModel">二维码登录</h2>
  <div class="full-with">
    <form class="login-form-wrap" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control class="p-24">
          <qrcode class="center" [errorCorrectionLevel]="'M'" [margin]="0" [qrdata]="'https://github.com/huajian123/ng-ant-admin'" [width]="250"></qrcode>
          <span class="center sp-14 desc" nz-typography nzType="secondary">扫码后点击"确认"，即可完成登录</span>
        </nz-form-control>
      </nz-form-item>
      <button class="full-with" nz-button nzSize="large" [nzType]="'default'" (click)="goOtherWay(typeEnum.Normal)">返 回</button>
    </form>
  </div>
</div>
