<div>
  <h2 class="m-b-8" [class.is-over-model]="isOverModel">二维码登录</h2>
  <div class="full-with">
    <form nz-form class="login-form-wrap" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control class="p-24">
          <qr-code class="center" [size]="500" [value]="'https://github.com/huajian123/ng-ant-admin'"></qr-code>
          <span class="center sp-14 desc" nz-typography nzType="secondary">扫码后点击"确认"，即可完成登录</span>
        </nz-form-control>
      </nz-form-item>
      <button (click)="goOtherWay(typeEnum.Normal)" nz-button nzSize="large" class="full-with" [nzType]="'default'">返 回</button>
    </form>
  </div>
</div>
